# Задача №4

Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная,
максимальная и средняя цена на книги этого автора.

In [1]:
import pandas as pd

In [2]:
author_price = pd.read_csv("DataFrames/authors_price.csv", sep=";", encoding="utf-8")
author_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [51]:
authors_group = author_price.groupby("author_name")
authors_stat = authors_group["price"].describe()[["min", "max", "mean"]].reset_index()
# authors_stat.reset_index(inplace=True)
authors_stat.columns = ["author_name", "min_price", "max_price", "mean_price"]
authors_stat

  author_name  min_price  max_price  mean_price
0  Островский      290.0      370.0  330.000000
1    Тургенев      300.0      450.0  366.666667
2       Чехов      450.0      500.0  475.000000

In [52]:
authors_stat.to_csv("DataFrames/authors_stat.csv", sep=";", encoding="utf-8")