# Задача №1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
Создайте датафрейм authors со столбцами author_id и author_name,
в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price,
в которых соответственно содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети',
'Рудин',
'Дворянское гнездо',
'Толстый и тонкий',
'Дама с собачкой',
'Гроза',
'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [1]:
import pandas as pd

In [18]:
auth_dict = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}
authors = pd.DataFrame(auth_dict)
authors.to_csv("DataFrames/authors.csv", sep=";", index=False, encoding="utf-8")
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [22]:
book_dict = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": [ 'Отцы и дети',
                    'Рудин',
                    'Дворянское гнездо',
                    'Толстый и тонкий',
                    'Дама с собачкой',
                    'Гроза',
                    'Таланты и поклонники'
                    ],
    "price": [450, 300, 350, 500, 450, 370, 290]
}
book = pd.DataFrame(book_dict)
book.to_csv("DataFrames/books.csv", sep=";", index=False, encoding="utf-8")
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290